<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<a class="twitter-timeline" href="https://twitter.com/lizziedyson">Tweets by lizziedyson</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
